.flex-container {
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #504f48;

}

main {
    display: flex;
    height: 800px;
    justify-content: center;
    background-color: #e78b49;
    justify-content: flex-end;
}

aside {
    width: 400px;
    height: 100%;
    display: flex;
    background-color: #2aa994;
}

@media screen and (max-width: 390px) {
    .flex-container {
        flex-direction: column;
    }

    aside {
        display: block;
    }

}
